*{
  box-sizing: border-box;
}

html{
  overscroll-behavior: none;
}

body{
  max-width: 500px;
  margin-inline: auto;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.player-screen {
  position: relative;
  width: 300px;     
  height: 500px;    
  background-color: #c9b3ff;  
  border: 4px solid #6b4eff; 
  border-radius: 4px;
  
  /* pixel-style shadow for depth */
  box-shadow:
    4px 4px #b08aff,
    8px 8px #a07cff,
    12px 12px #9070ff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2{
  margin-block-end: 2px;
  color:#312c4c;
}

p{
  margin-block-start: 5px;
  margin-block-end: 27px;
  color:#312c4c;
}

.progress{
  -webkit-appearance: none;
  width: calc(100% - 60px);
  height: 6px;
  border-radius: 4px;
  margin-inline: 30px;
  cursor: pointer;
  background: #6d678b;
}

.progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background:#b08aff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid whitesmoke
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin-block-start: 25px;
}

.prev-song,.play-pause,.next-song{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #6d678b;
}

.play-pause{
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
}

.album-cover{
  width: 230px;
  height: 230px;
}

.track{
  display: none;
}

.kuromi-img{
  position: absolute;
  top: -35px;
  left: 255px;
  width: 25%;
  transform: rotateZ(15deg);
}

.purple-heart{
  position: absolute;
}

.purple-heart:nth-child(1){
  position: absolute;
  top: -20px;
  left: 139px;
  width: 12%;
  transform: rotateZ(-2deg);
}

.purple-heart:nth-child(2){
  position: absolute;
  top: -20px;
  left: 175px;
  width: 12%;
  transform: rotateZ(-2deg);
}

.purple-heart:nth-child(3){
  position: absolute;
  top: -20px;
  left: 210px;
  width: 12%;
  transform: rotateZ(-2deg);
}

.butterfly:nth-child(1){
  position: absolute;
  top: 400px;
  left: 0px;
  width: 15%;
  transform: rotateZ(-15deg);
}

.butterfly:nth-child(2){
  position: absolute;
  top: 440px;
  left: -2px;
  width: 20%;
  transform: rotateZ(15deg);
}